<html>
<header>
<%= link_to("Signup","users/new") %>
<%= link_to("Log in","sessions/login") %>
<header>
<table>
<tr>
<td>
<h1>Top Rated </h1>
<br\>

<table style="font-size:15px">
  <tr>
    <th> Vote your favorite name! </th>
    <th></th>
    <th></th>
    <th></th>
    <th>Votes</th>
  </tr>
 <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%= name.title %></td>
    <td><%= button_to 'Like',  {:controller => "names", :action => "like", :id => name.id}, :method => :put %></td>
    <td><%= button_to 'Dislike',{:controller => "names", :action =>"dislike", :id => name.id}, :method => :put %></td>
    <td></td>
    <td><%=name.votesnumber %></td>
  </tr>
<% end %>
</table>
</td>
<td>

<h1>Newest submissions </h1>
<br\>

<table style="font-size:15px">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Votes</th>
  </tr>
 <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @others.each do |var| %>
  <tr>
    <td><%= var.title %></td>
    <td><%= button_to 'Like',  {:controller => "names", :action => "like", :id => var.id}, :method => :put %></td>
    <td><%= button_to 'Dislike',{:controller => "names", :action =>"dislike", :id => var.id}, :method => :put %></td>
    <td></td>
    <td><%= var.votesnumber %></td>
  </tr>
<% end %>
</table>
</td>
</tr>
</table>

<br />
<%= link_to("All records","/showall") %>
<br />
<br/>
<%= form_for(@name) do |f| %>
<div class="field">
    <%= "Add your Band name:" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</html>
