<h1>Users#new</h1>
<p></p>
<% @page_title ="Signup"%>
	<div class = "Sign_Form">
		<h1>Sign Up</h1>
		<%= form_for (@user) do |f| %>
		<p>Username:</br> <%=f.text_field :username %> </p>
                <p>Email:</br> <%=f.text_field :email %> </p>
		<p>Password:</br> <%=f.password_field :password %> </p>
		<p>Password Confirmation:</br> <%=f.password_field :password_confirmation %> </p>
		<%= f.submit :Signup %>
    <%end%>

	<% if @user.errors.any? %>
		<ul class="Signup_errors">
			<% for message_error in @user.errors.full_messages %>
				<li> * <%= message_error %></li>
	       <% end %>
                 </ul>
		<% end %>
	</div>
